//$gr:#f7f7f7;
$gr:#0c0c0c;
//$bl:#0c0c0c;
$bl:#f7f7f7;
$bigfont: 'bravosc';
$smallfont: 'Larsseit';

h2,h1,p,span,footer,div,a,br,body, html,span, form,nav,input[type="submit"],img,ul,li,h3,h4,h5,h6{
    margin:0;
    padding:0;
/*    display:block;*/
    border: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: "bravosc";
	src: url(font/BravoSC.otf);
}

@font-face{
	font-family: "Larsseit";
	src: url(font/Larsseit.otf);
}

body{
	color:#fff;
    font-family: $smallfont;
	height: 100%;
	background: $gr;
/*
	background: url('img/bg3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
*/
}

::selection {
	background:#000;
	color: #fff;
}

::-moz-selection {
	background:#000;
	color: #fff;
}

#twenty{
	width:100%;
	background:none;
	height:20px;
	clear: both;
}

#scroller{
    position: fixed;    
    bottom: 30px;  
	right: 0;
    background: $gr;
	color: $bl;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
	padding-top: 6px;
	text-align: center;
	border: 2px solid $bl;
	box-sizing: border-box;
	opacity: 0.8;
}

#scroller:hover{
	opacity: 1;
}

#wrapper{
    margin: 0 auto;
    width: 900px;
	box-sizing: content-box;
}

h2{
	display: inline;
	font-family: $bigfont;
	margin: 0 auto;
	text-transform: uppercase;
}

/***********************first*****************/
#first{
	width: 100%;
	height: 94vh;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
//	text-align: center;
	background: url(img/bg3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
//	padding-top: calc(20% - 93px);
	
}

#first_l{
	width: 50%;
	height: 100vh;
	box-sizing: border-box;
	display: inline-block;
	background: url(img/bg3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: calc(50vh - 120px);
}

#first_r{
	width: 50%;
	height: 100vh;
	font-family: $bigfont;
	box-sizing: border-box;
	display: inline-block;
	color: $bl;
	float: right;
	text-align: center;
	padding: calc(50vh - 100px) 60px 0 60px;

	h2{
		margin: 0 auto;
		text-align: center;
		font-size: 2.8em;
		font-family: $bigfont;
		display: block;
		box-sizing: border-box;
		line-height: 1.1em;
	}
	
	span{
		font-family: $smallfont;
		font-size: 1.2em;
		line-height: 1.5em;
		display: block;
		text-align: left;
		a{
			box-sizing: border-box;
			text-align: center;
			text-decoration: none;
//			color: #4a4;
			color:#728838;
		}
		
		a:hover{
			text-decoration: underline;
			cursor: pointer;
			color: #94af4e;
		}
	}
}

.soc{
	display: block;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	box-sizing: border-box;

	a{
		height: 43px;
		display: inline-block;
		box-sizing: border-box;
		padding: 0 10px 0 10px;
		cursor: pointer;
		img{
			display: inline-block;
			box-sizing: border-box;
		}
	}
}

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }

  33.3% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


#dawn{
	cursor: pointer;
	width: 120px;
	height: 18px;
	 line-height: 18px;
	 box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#dawn1{
	cursor: pointer;
	width: 120px;
	height: 18px;
	 line-height: 18px;
	 box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

 #dawn:hover, #dawn1:hover{
	 -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.dawn1{
	opacity: 0.8;
	display: none;
	box-sizing: border-box;
	width: 140px;
	height: 40px;
	background: $gr;
	padding-top: 10px;
	text-align: center;
	margin: calc(50vh - 120px) auto;
}

.dawn1:hover{
	opacity: 1;
}

/****************logo*********************/

#logo{
//	position: absolute;
	position: relative;
	background: none;
	box-sizing: border-box;
	width: 200px;
	bottom: 0px;
	left: calc(50% - 100px);
}

#logo>a{
	box-sizing: border-box;
	display: inline-block;
}

/*****************works******************/
#works{
	width:100%;
	background-color: $bl;
	color: $gr;
}

#white{
	color: $bl;
}

.block{
	overflow-wrap: normal;
	word-wrap: break-word;
	width: 100%;
	font-size: 1.2em;
/*	font-family: $bigfont;*/
	box-sizing: border-box;
	display: inline-block;
	line-height: 1.6em;
	font-family: $smallfont;
	text-align: left;
	
	h2{
		margin: 0 auto;
		text-align: center;
		font-size: 1.7em;
		font-family: $bigfont;
		display: block;
		box-sizing: border-box;
		line-height: 1.1em;
	}
	
	span{
		display: block;
	}
	
	a{
		box-sizing: border-box;
		text-align: center;
		text-decoration: none;
		text-decoration: underline;
		color: #555;
	}

	a:hover{
		text-decoration: none;
		cursor: pointer;
	/*	color: #8fcb64;*/
	}
}


/***************************************order************************************/
.order{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	width: 300px;
	height: 200px;
	
	a{
		display: inline-block;
		box-sizing: border-box;
		width: 300px;
		height: 200px;
	}
	
	a:hover{
		cursor:pointer;
	} 
	
	span{
		box-sizing: border-box;
		position: absolute;
		display: none;
		text-align: center;
		background: white;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		padding-top: 60px;
	}
	
}

/*****************contact******************/

.contact{
	text-align: left;
	width: 45vw;
	margin:0 auto;
	
	a{
		text-decoration: none;
		color: #aaa;
	}
	
	a:hover{
		text-decoration: underline;
		color:#fff;
	}
	
	h4{
		height: 40px;
		line-height: 30px;
		display:block;
		clear: both;
	}

}

#name,#mail{
	margin-bottom: 10px;
	/*float:right;*/
	width: 100%;
	height: 40px;
	background: #f2f2f2;
	padding: 8px 37px 9px 15px;
	display: inline-block;
	font-family: $smallfont;
	box-sizing: border-box;
	border:none;
}

#mess{
	display:inline-block;
	box-sizing: border-box;
	background:#eee;
	font-family: $smallfont;
	width: 100%;
	padding: 8px 37px 9px 15px;
	background: #f2f2f2;
}

#name:focus,#mail:focus,#mess:focus{
	outline: none;
}

#send{
	width: 45%;
	height: 60px;
	margin: 0 auto;
	display: block;
	background: $gr;
	font-family: $bigfont;
	font-size: 1.6em;
	text-decoration: none;
	cursor: pointer;
	color: $gr;
//	background-color: #4a4;
	background-color: #728838;
}

#send:hover{
	box-sizing:border-box;
	color: $bl;
	background: #94af4e;
}