@media only screen and (max-width: 960px){
	#wrapper{
		width:640px;
	}
}

@media only screen and (max-width: 640px){
	#wrapper{
		width:320px;
	}
	
	#back_butt b{
		display:none;
	}
}

@media only screen and (max-width: 500px){
	#logo1{
		width:80%;
	}
	
	.contact{
		width:80%;
	}
}

@media only screen and (max-width: 450px){
	#menu li, #menu form{
		width:100%;
	}
	
	#menu li a, #exit{
		margin:0 auto;
		float:none;
	}
	
	#menu ul li:nth-child(2n){
		display: none;
	}
}