@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,600italic);
/* Directories */
/* Colors */
/* Fonts */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans Light';
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}
body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  background: #ffffff;
  color: #303030;
  font-family: 'Vollkorn', serif;
  font-size: 20pt;
  font-style: italic;
}
/*	Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  box-sizing: border-box;
}
/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  line-height: 1.2em;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 26px;
  font-weight: normal;
}
h5,
h6 {
  font-size: 22px;
}
ul {
  margin: 0;
}
/* Selection Colors */
::-moz-selection {
  background: #ff2020;
  color: #303030;
  text-shadow: none;
}
::selection {
  background: #ff2020;
  color: #303030;
  text-shadow: none;
}
/* ==========================================================================
	Links
/* ========================================================================== */
a {
  text-decoration: underline;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
.w3eden .row {
  margin-left: 0;
  margin-right: 0;
}
.minimax_module p {
  padding: 0;
  margin: 0;
}
.left {
  background: #303030;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.right {
  float: left;
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 40%;
}
.content_block {
  width: 100%;
  padding: 0 50px 50px;
  display: inline-block;
}
nav {
  padding: 50px;
  position: fixed;
  left: 40%;
  width: 60%;
  top: 0;
  background: #fff;
  z-index: 999;
  font-size: 0.8em;
}
article {
  font-weight: 300;
  margin: 20px 0;
}
.about {
  position: absolute;
  width: 510px;
  padding: 0px;
  left: 150px;
  top: calc(50vh - 120px);
}
section {
  padding-top: 150px;
  position: relative;
}
.left .logo {
  width: 200px;
  height: 200px;
  margin: calc(50vh - 100px) auto;
  background-image: url('../images/logo.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
nav {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
nav > ul {
  display: inline-block;
  float: left;
  padding: 0;
}
nav a {
  text-decoration: none;
}
nav li {
  list-style: none;
  float: left;
}
nav li a {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 15px 0 15px;
  cursor: pointer;
  color: #262626;
}
nav li a:hover {
  text-decoration: underline;
  color: #303030;
}
nav li a:visited {
  color: #303030;
}
nav .cta,
nav .main {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: left;
}
nav .main {
  border-right: 1px solid #303030;
  padding-right: 30px;
  margin-right: 15px;
  color: #303030;
  font-weight: 800;
}
nav .cta {
  color: #ff2020;
  font-weight: 600;
  float: right;
}
nav .cta:hover {
  text-decoration: underline;
  color: #ff2020;
}
nav .mobile_menu {
  display: none;
}
nav .resp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}
nav .resp ul {
  padding: 0;
}
nav .resp li {
  display: block;
  float: none;
  text-align: center;
}
nav .resp li a {
  float: none;
  width: 100%;
  height: 25vh;
  line-height: 25vh;
}
nav .resp li a:hover {
  color: #ffffff;
  background: #303030;
}
header h1,
header h3 {
  font-family: 'Open Sans';
  font-size: 50px;
  color: #000;
  font-weight: bold;
  margin: 0;
  font-style: italic;
}
header h3 {
  font-size: 1.2em;
}
.content_block .btn {
  font-style: normal;
  font-family: 'Lato', sans-seif;
  background: #ff2020;
  padding: 0 30px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.content_block .btn:hover {
  background: #ee2020;
}
.content_block .txt article {
  font-size: 0.889em;
}
.content_block img {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  background: #ff2020;
}
.content_block .txt {
  width: calc(100% - 250px);
  float: right;
}
.content_block.process .txt {
  width: 100%;
  float: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input:focus::-webkit-input-placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}
input:focus::-moz-placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}
input:focus:-ms-input-placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}
input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}
input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}
input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}
/* on hover placeholder */
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}
input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}
input:hover:focus:-ms-input-placeholder,
textarea:hover:focus:-ms-input-placeholder {
  color: #cbc6c1;
}
input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}
form {
  font-family: 'Lato', sans-serif;
  color: #303030;
}
#form {
  position: relative;
  margin: 50px auto 100px auto;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #303030;
  border: solid 1px #303030;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
input:hover {
  background: #303030;
  color: #ffffff;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #303030;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #303030;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
  background: #303030;
  color: #ffffff;
}
#submit {
  width: 100%;
  padding: 0;
  margin: -10px 0px 0px 0px;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #303030;
  outline: none;
  cursor: pointer;
  border: solid 1px #303030;
  border-top: none;
}
#submit:hover {
  color: #ffffff;
}
@media (max-width: 768px) {
  .left {
    display: none;
  }
  .right {
    padding-left: 0;
  }
  nav {
    width: auto;
    left: calc(50% - 150px);
    margin: 0 auto;
  }
  nav > ul,
  nav > .cta {
    display: none;
  }
  nav .mobile_menu {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
    color: #262626;
  }
  .about {
    width: 90%;
    left: 5%;
  }
  footer {
    margin-bottom: 20px;
  }
  header h1,
  header h3 {
    font-size: 36px;
  }
  nav {
    width: 100%;
    left: 0;
    padding-left: calc(50% - 80px);
  }
  .content_block .txt,
  .content_block img {
    float: none;
    width: 100%;
  }
  .content_block .txt {
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .content_block {
    padding: 0 5% 50px;
  }
  footer a {
    width: 100%;
    text-align: center;
  }
}
