#first_screen {
  font-family: @main-font;
  box-sizing: border-box;
  display: inline-block;
  color: @main_bg;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.content {
  text-align: right;
  width: 360px;
  background: @main_content;
  padding: 20px 40px;
  overflow: auto;
}
.soc {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}