#first_screen {
  height: 100vh;
  font-family: @main-font;
  box-sizing: border-box;
  display: inline-block;
    color: @main_bg;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.content {
  text-align: right;
  width: 240px;
  background: @main_text;
  padding: 20px;
  overflow: auto;
}
.soc {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}