#first_screen {
  height: 100vh;
  font-family: @main-font;
  box-sizing: border-box;
  display: inline-block;
  color: @main_text;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.soc {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}