#first_screen {
	h2 {
		margin: 0 auto;
		text-align: center;
		font-size: 2.8em;
		font-family: @main-font;
		display: block;
		box-sizing: border-box;
		line-height: 1.1em;
		font-weight: normal;
	}
	span {
		font-family: @main-font;
		font-size: 1.2em;
		line-height: 1.5em;
		display: block;
		text-align: left;
	}
	span a {
		box-sizing: border-box;
		text-align: center;
		text-decoration: none;
		color: #728838;
	}
	span a:hover {
		text-decoration: underline;
		cursor: pointer;
		color: #94af4e;
	}
	#logo {
		position: relative;
		background: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: ~'calc(100% - 240px)';
		a {
			width: 30vw;
		}
		img {
			width: 100%;
		}
	}
}

.content {
	h1{
		position: relative;
		margin: 16vh 0;
		&:after {
			transition: .2s;
			content: '';
		    width: 3px;
		    height:  ~'calc(1.2rem + 0.75vw);';
		    background: @main_text_h;
		    position: absolute;
		    right: -6px;
		    bottom: 7px;
		    animation-name: text-input;
		    animation-duration: .75s;
		    animation-iteration-count: infinite;
		}
	}
	header {
		text-transform: uppercase;
		text-decoration: underline;
	}
}

@keyframes text-input {
	0%, 100% {
		opacity: 0
	}
  	50% {
    	opacity: 1;
	}
}

.soc {
	a {
		height: 43px;
		display: inline-block;
		box-sizing: border-box;
		padding: 0 10px 0 10px;
		cursor: pointer;
		img {
			display: inline-block;
			box-sizing: border-box;
		}
	}
}