@main_bg: #101618;
@main_content: #f7f7f7;
@main_color: #229922;
@main_color_h: #22aa22;

@mouse-width: 25px;
@mouse-height: 40px;
@mouse-border: 2px;
@mouse-color: @main_bg;
@bg-color: @main_content;