@import url(https://fonts.googleapis.com/css?family=Quantico|Roboto|Slabo+27px);* {
  margin: 0;
  padding: 0;
  /*    display:block;*/
  border: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: "Larsseit", sans;
  height: 100%;
  background: #101618;
}
::-moz-selection {
  background: #94af4e;
  color: #000;
}
::selection {
  background: #94af4e;
  color: #000;
}
::-moz-selection {
  background: #94af4e;
  color: #000;
}
#twenty {
  width: 100%;
  background: none;
  height: 20px;
  clear: both;
}
#sixty {
  width: 100%;
  background: none;
  height: 60px;
  clear: both;
}
#scroller {
  position: fixed;
  bottom: 30px;
  right: 0;
  background: #0c0c0c;
  color: #f7f7f7;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  padding-top: 6px;
  text-align: center;
  border: 2px solid #f7f7f7;
  box-sizing: border-box;
  opacity: 0.8;
}
#scroller:hover {
  opacity: 1;
}
#first_screen {
  font-family: 'Quantico', sans-serif;
  box-sizing: border-box;
  display: inline-block;
  color: #101618;
  display: block;
}
.content {
  text-align: right;
  width: 50%;
  background: #f7f7f7;
  overflow: auto;
  float: right;
  height: 100vh;
  position: relative;
}
.soc {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
#first_screen h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.8em;
  font-family: 'Quantico', sans-serif;
  display: block;
  box-sizing: border-box;
  line-height: 1.1em;
  font-weight: normal;
}
#first_screen span {
  font-family: 'Quantico', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  display: block;
  text-align: left;
}
#first_screen span a {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #728838;
}
#first_screen span a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #94af4e;
}
#first_screen #logo {
  position: fixed;
  height: 100vh;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 50%;
  background-image: url('/img/3.png');
  background-size: cover;
  background-position: center top;
}
#first_screen #logo a {
  width: 15vw;
}
#first_screen #logo img {
  width: 100%;
}
#first_screen #logo svg {
  width: 100%;
  height: 100%;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .25;
}
#first_screen #logo path {
  fill: none;
  stroke-width: .1rem;
  stroke: #f7f7f7;
  stroke-dasharray: 86px;
  stroke-dashoffset: 172px;
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  animation: draw 5s var(--ease-in-out-quint) infinite;
}
.content h1 {
  position: relative;
  margin: 0 0 10vh;
  font-size: 1.6rem;
  text-align: right;
}
.content h1:after {
  transition: .2s;
  content: '';
  width: 3px;
  height: calc(1.2rem + 0.75vw);;
  background: #229922;
  position: absolute;
  right: -6px;
  bottom: 7px;
  animation-name: text-input;
  animation-duration: .75s;
  animation-iteration-count: infinite;
}
.content h1 img {
  width: 60%;
  display: none;
  margin: 0 auto 20px;
}
.content header {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  right: 10px;
}
.content header:before,
.content header:after {
  position: absolute;
  content: '';
  top: -1px;
}
.content header:before {
  content: '[';
  left: -8px;
}
.content header:after {
  content: ']';
  right: -8px;
}
.content section {
  padding: 20px 20%;
  height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  background: #f7f7f7;
  transition: .25s;
}
.content section > div {
  width: 100%;
}
.content section.hide {
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.content article {
  text-align: justify;
}
.content article a {
  color: #229922;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.content article a:hover {
  color: #22aa22;
}
.soc a {
  height: 43px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.soc a img {
  display: inline-block;
  box-sizing: border-box;
}
.mouse-wrapper {
  position: relative;
  margin-top: 40px;
}
.mouse-wrapper .mouse {
  background: #f7f7f7;
  border: 2px solid #101618;
  position: absolute;
  top: 0;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 40px;
  border-radius: 70px;
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: toggle 1s var(--ease-in-out-cubic) infinite alternate;
}
.mouse-wrapper .mouse:after,
.mouse-wrapper .mouse:before {
  content: "";
  position: absolute;
  top: 0;
  right: calc(50% - 1px);
  background: #101618;
}
.mouse-wrapper .mouse:after {
  width: 2px;
  height: 13.33333333px;
  border-radius: 10px;
}
.mouse-wrapper .mouse:before {
  top: 5%;
  left: calc(50% - 4px);
  border-radius: 50%;
  width: 8px;
  height: 10px;
  z-index: 999;
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: toggle 1s var(--ease-in-out-cubic) infinite alternate;
}
@media screen and (max-width: 768px) {
  #first_screen #logo {
    display: none;
  }
  .content {
    width: 100%;
  }
  .content h1 img {
    display: block;
  }
  .content section {
    height: auto;
    position: relative;
  }
  .content section.hide {
    opacity: 1;
    visibility: visible;
  }
  .mouse {
    display: none;
  }
}
@keyframes text-input {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes toggle {
  to {
    top: 10px;
  }
}

/*# sourceMappingURL=global.css.map*/